{% extends "MTGApplicationAppBundle::layout.html.twig" %}

{% set title = 'Login' %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.message }}
        </div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" role="form">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Password">
        </div>

        <div class="form-group">
            <input type="hidden" name="_target_path" value="/secured">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
        </div>
    </form>
{% endblock %}
