<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" />
      <title>
        {% block title %}
          {% set application_title = 'ApplicationApp' %}

          {% if title is defined %}
            {{ title }} | {{ application_title }}
          {% else %}
            {{ application_title }}
          {% endif %}
        {% endblock %}
      </title>

      {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% stylesheets '@MTGApplicationAppBundle/Resources/public/css/bootstrap.min.css'
                       '@MTGApplicationAppBundle/Resources/public/css/*.css' %}
          <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
      {% endblock %}
    </head>
    <body>
      {% block body %}
          <div class="container">
              {% block content %}{% endblock %}
          </div>
      {% endblock %}

      {% block javascripts %}
        {% javascripts '@MTGApplicationAppBundle/Resources/public/js/jquery.min.js'
                       '@MTGApplicationAppBundle/Resources/public/js/*.js'  %}
          <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
      {% endblock %}
    </body>
</html>
