{% extends "MTGApplicationAppBundle::layout.html.twig" %}

{% set title = 'Index' %}

{% block content %}
    <div class="row">
        <div calss="col-xs-12">
            <h1 class="text-center title">Hello {{ name }}</h1>
        </div>
    </div>
{% endblock %}
